<title><%= title %></title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<!-- bootstrap stylesheets -->
<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
<!-- custom stylesheets -->
<link rel="stylesheet" href="/stylesheets/style.css"/>
<!-- minified AngularJS 1.3.0 -->
<script src="https://code.angularjs.org/1.3.0-rc.2/angular.min.js"></script>
<!-- angular route module -->
<script src="https://code.angularjs.org/1.3.0-rc.2/angular-route.min.js"></script>
<!-- angular resource module -->
<script src="https://code.angularjs.org/1.3.0-rc.2/angular-resource.min.js"></script>
<!-- UI bootstrap module -->
<script src="//angular-ui.github.io/bootstrap/ui-bootstrap-tpls-0.14.3.js"></script>
<!-- my App -->
<script src="/controllers/controller.js"></script>
